# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\undirezt\Desktop\Projects\Lessons\rs-school\kodeksoff-JSFE2021Q1\wildlife\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
